.custom-wrapper-app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .custom-background {
    background-image: linear-gradient(#3390CF, #B2D2E3);
    box-shadow: 0 7px 50px 8px rgba(0, 0, 0, 0.25);
    padding-left: 3.2rem !important;
    padding-right: 3.2rem !important;
    position: relative;
    .content-app {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 42rem;
      width: 100%;
    }
  }
}

@media (max-width: 780px) {
  .custom-wrapper-app {
    .custom-background {
      padding-left: 1.8rem !important;
      padding-right: 1.8rem !important;
      .content-app {
        height: auto;
        min-height: 42rem;
      }
    }
  }
}