html {
  font-size: 62.5%; /* for using REM unit */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  //line-height: 1.3;
  color: #575759;
  background-image: linear-gradient(#B9D6E6, #469AD4);
}

h1, h2, h3, h4, h5 {
  font-family: -apple-system, BlinkMacSystemFont, 'Arial', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}