.detail-weather-content {
  display: flex;
  flex-direction: column;
  color: white;
  .main-weather {
    width: 100%;
    .wrapper-icon {
      display: flex;
      justify-content: flex-end;
    }
    .border-custom {
      border-right: 1px solid #ddd;
    }
    .main-weather-detail-custom {
      p {
        margin-bottom: 0;
      }
    }
  }
  .next-five-days {
    width: 100%;
    .card-weather {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      flex: 0 0 20%;
      max-width: 20%;
      .card {
        background: #085990;
        box-shadow: 0 0 3px #ccc;
        border-radius: .3rem;
      }
    }
  }
}

@media (max-width: 780px) {
  .detail-weather-content {
    .main-weather {
      .wrapper-icon {
        justify-content: flex-start;
      }
      .border-custom {
        border:none;
        margin-bottom: 2rem;
      }
      .main-weather-detail-custom {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
    }
    .next-five-days {
      > div {
        padding: 0 1.5rem;
      }
      .card-weather {
        padding: 0 .5rem;
      }
    }
  }
}