.spinner-loading-center-block {
  text-align: center;
}
.spinner-loading-background {
  background: rgba(255,255,255,.9);
}
.spinner-loading-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 24;
  display: flex;
  justify-content: center;
  align-items: center;
  .spinner-border {
    width: 4rem;
    height: 4rem;
  }
}