.input-search {
  border: none !important;
  outline: none !important;
  height: 5.2rem;
  width: 100%;
  padding-left: 1.6rem;
  border-radius: .8rem 0 0 .8rem;
}
.btn-search {
  width: 13rem;
  height: 5.2rem;
  border-radius: 0 .8rem .8rem 0;
  a {
    color: white;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
}
